*.class
.idea/*
GOKServer/bin/
bins/
GOKServer/out/
classes/
GOKPassportServer/build
GOKServer/pkg
GOKServer/src/google.golang.org
bin/
bins/
server.iml
src/gok/ci/gok/star/base/BuildingsBase_bak.xlsx
src/gok/network/msg/protocol/build.bat
src/gok/network/msg/protocol/protoc-gen-go.exe
src/gok/network/msg/protocol/protoc.exe
pkg/
src/gok/coverage.sh.windows
src/gok/covertest.bat
*.log
src/tools/zkupdate/KylinTools.jar
src/tools/zkupdate/md5/
src/tools/command/gok_test_dump
src/tools/zkupdate/file/
src/stresstest/functiontest
